In [4]:
from zipfile import ZipFile
from io import BytesIO
import urllib.request as urllib2
import pandas as pd

def get_data():
    r = urllib2.urlopen("https://github.com/msaricaumbc/DS_data/blob/master/ds602/people_wiki.zip?raw=true").read()
    file = ZipFile(BytesIO(r))
    people_wiki_csv = file.open("people_wiki.csv")
    people = pd.read_csv(people_wiki_csv)
    people.drop('URI', inplace=True, axis=1)
    return people

people = get_data()
people.head()

                  name                                               text
0        Digby Morrell  digby morrell born 10 october 1979 is a former...
1       Alfred J. Lewy  alfred j lewy aka sandy lewy graduated from un...
2        Harpdog Brown  harpdog brown is a singer and harmonica player...
3  Franz Rottensteiner  franz rottensteiner born in waidmannsfeld lowe...
4               G-Enka  henry krvits born 30 december 1974 in tallinn ...

### Create clusters for the dataset

In [5]:
cols = ['name', 'text']

In [13]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
v = TfidfVectorizer(stop_words = 'english')
X_vec = v.fit_transform(people[cols].apply(lambda x: ' '.join(x), axis=1))

In [14]:
X_vec

<42786x438882 sparse matrix of type '<class 'numpy.float64'>'
	with 5859287 stored elements in Compressed Sparse Row format>

In [16]:
df = pd.DataFrame.sparse.from_spmatrix(X_vec)

In [20]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,438872,438873,438874,438875,438876,438877,438878,438879,438880,438881
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters = 2, init='random', n_init='auto')
km = km.fit(df)
df_cluster = km.predict(df)

#### When running the above code, I get an error saying my computer is unable to allocated 140 GB to perform k means on such a large dataset. Tried but could not find a work around to this issue :(